h2{
    margin-bottom: 0.5em;
}
p{
    margin: 0;
}
li p{
    display: inline;
}
li img{
    width: 40px;
    border-radius: 8px;
}
li a:hover{
    transform: scale(1.1);
    transition: 0.4s;
}
a{
    text-decoration: none;
    color: inherit;
}
.recursos{
    max-width: 1300px;
    margin: 0 auto;
    padding: 1.5rem 2rem;
}
.recursos li{
    height: 3em;
    margin-bottom: 1em;
    display: flex;
    align-items: center;
}
.recursos li img{
    margin-right: 0.5em;
}
.recs{
    padding: 0;
}
.recursos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.column{
    padding: 0 2em;
}

@media (min-device-width:600px) and (max-device-width:1000px){
    .recursos{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .column{
        width: 45%;
    }
}
@media (min-device-width:200px) and (max-device-width:599px){
    .recursos{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
    .column{
        width: 95%;
    }
    ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 0.5em;
    }
    li{
        display: inline;
    }
}