.resources{
    display: flex;
    flex-wrap: wrap;
    max-width: 1700px;
    margin: 0 auto;
    padding: 3rem 0;
}
.column{
    width: calc(100%/3);
    text-align: center;
    margin-bottom: 3rem;
}
.column ul{
    padding: 0;
}
.column h2{
    margin-bottom: 1rem;
}
.recs img{
    width: 50px;
    object-fit: contain;
    aspect-ratio: 1;
}