@font-face {
    font-family: 'Paytone';
    src: url(../fonts/PaytoneOne-Regular.ttf);
}
@font-face {
    font-family: 'roboto';
    src: url(../fonts/Roboto-Regular.ttf);
}
:root{
    --bg: #e8e8e8;
    --bgTxt: #5e5e5e;
}
*{
    margin: 0;
    font-family: 'roboto';
}
body{
    background-color: #fafafa;
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
button:hover{
    transform: scale(1.05);
    transition: 0.7s;
}
.wrapDef{
    max-width: 1700px;
    margin: 0 auto;
}
.gapDef{
    padding: 3rem 0;
}
.subH1{
    font-size: calc(1.375rem + 1.1vw);
}
/* NAVBAR INICIO ------------------------- */
.barra{
    padding-left: calc(var(--bs-gutter-x) * 0.8);
}
header{
    width: 100vw;
    position: fixed;
    z-index: 20;
}
.navbar{
    background-color: white;
}
.navbar-nav{
    width: 50%;
    justify-content: space-evenly;
    margin-left: auto;
}
.navbar-brand i{
    font-size: 1.5em;
}
.nav-link:hover{
    scale: 1.05;
    transition: 0.5s;
}
/* NAVBAR FIN ------------------------- */


/* HERO INCIO ------------------------- */
.hero{
    height: 100vh;
    background-image: url(https://i.imgur.com/L4LkBqg.jpg);
    background-size: cover;
}
#name{
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
#name h1{
    font-family: 'Paytone';
    font-weight: lighter;
}
#name button{
    width: 15rem;
    padding: 0.5rem 0;
    border-radius: 6px;
    background-color: #4682A9;
    color: white;
    border: none;
}
#name a{
    position: relative;
    top: 10vh;
}
/* HERO FIN ------------------------- */

/* HERRAMIENTAS INICIO ------------------------- */
#Herramientas{
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#Herramientas h1{
    text-align: center;
    font-weight: bold;
    margin-bottom: 2rem;
}
.tooling{
    background-color: var(--bg);
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    border-radius: 25px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.5rem 0;
    gap: 2rem 0;
}
.tool{
    width: calc(100%/5);
    text-align: center;
}
.tool p{
    color: var(--bgTxt);
    margin: 0;
}
.tool i{
    font-size: 2rem;
    position: relative;
    top: 0.2rem;
}
.HTML{
    color: #fc4f13;
}
.CSS{
    color: #2d53e5;
}
.JS{
    color: #e6d44e;
}
.Java{
    color: #50809f;
}
.Git{
    color: #f15639;
}
.Python{
    color: #e2c565;
}
.Kotlin{
    color: #30d780;
}
.Bootstrap{
    color: #7c18f8;
}
.PHP{
    color: #556096;
}
.CS{
    color: #9e559a;
}
/* HERRAMIENTAS FIN ------------------------- */


/* FOOTER INICIO ------------------------- */
footer{
    min-height: 50vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}
footer h3{
    font-weight: bold;
}
footer h4{
    font-size: 1.3rem;
}
footer p{
    font-size: 15px;
    justify-self: end;
}
.copy, .txt_footer{
    margin-top: auto;
}
.copy{
    width: 100%;
}
footer hr{
    width: 90%;
    margin: 0 auto 2rem;
    color: #ccc;
}
/* FOOTER FIN ------------------------- */

@media (max-width: 991px) {
    .navbar-nav{
        margin: 0;
        width: 100%;
    }
    .navbar-nav li{
        text-align: center;
    }
    .tooling{
        justify-content: center;
        width: 85%;
    }
    .tool{
        width: calc(100%/3);
        text-align: center;
    }
    #Herramientas{
        height: auto;
    }
}
@media (max-width: 550px) {
    .tooling{
        width: 90%;
    }
    .tool{
        width: calc(100%/2);
    }
    footer{
        min-height: 350px;
        padding: 4rem 1.5rem 1rem;
    }
    footer hr{
        width: 100%;
    }
}