@font-face {
    font-family: 'roboto';
    src: url(../fonts/Roboto-Regular.ttf);
}
*{
    margin: 0;
    font-family: 'roboto';
}
body{
    background-color: #fafafa;
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
button:hover{
    transform: scale(1.05);
    transition: 0.7s;
}
/* NAVBAR INICIO ------------------------- */
.barra{
    padding-left: calc(var(--bs-gutter-x) * 0.8);
}
header{
    width: 100vw;
    position: fixed;
    z-index: 20;
}
.navbar{
    background-color: white;
}
.navbar-nav{
    width: 50%;
    justify-content: space-evenly;
    margin-left: auto;
}
.navbar-brand i{
    font-size: 1.5em;
}
.nav-link:hover{
    scale: 1.05;
    transition: 0.5s;
}
/* NAVBAR FIN ------------------------- */


/* HERO INCIO ------------------------- */
.hero{
    height: 100vh;
    background-image: url(https://i.imgur.com/L4LkBqg.jpg);
    background-size: cover;
}
#name{
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
#name h1{
    font-family: sans-serif;
    font-weight: bold;
}
#name button{
    width: 15rem;
    padding: 0.5rem 0;
    border-radius: 12px;
    background-color: #1d9bf4;
    color: white;
    border: none;
    position: relative;
    top: 10vh;
}
/* HERO FIN ------------------------- */