:root{
    --bonsaigreen: #00b289;
    --bonsaigrey: #4c4d5f;
    --bonsaiyellow: #f8db62;
    --bonsaibg: #fcfcfe;
}
*{
    margin: 0;
}
strong{
    font-weight: bold;
}
small{
    font-size: 15px;
}
p{
    font-size: 17px;
}
body{
    background-color: var(--bonsaibg);
}

.shad{
    box-shadow: 0 0 60px 0 rgba(2,4,69,.05);
}

main{
    #plans{
        .plans-cards{
            padding: 4%;

            .cards{
                display: flex;
                justify-content: space-between;

                .ind-plan{
                    padding: 6% 4%;
                    width: calc(92%/3);
    
                    .card-price{
                        border-bottom: var(--bonsaigreen) 1px solid;
                    }
                }
            }
        }
        .addons{
            .options{
                .option{
                    display: flex;
                    align-items: center;
                    background-color: white;
                }
            }
        }
    }
}