.hero-container{
    position: relative;
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;
    background-image: url("https://i.imgur.com/DPyCMyZ.jpg");
    background-size: cover;
    background-position: center;
    padding: 2rem;

}
.hero-container::before {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.9) 0%, rgba(30, 30, 30, 0.8) 100%);
    backdrop-filter: blur(4px);
    z-index: 0;
}
@media (max-width: 1024px) {
    .hero-container {
        background-image: url("https://i.imgur.com/NUuuSzw.jpg");
    }
    .hero-container::before {
        background: linear-gradient(135deg, rgba(0, 0, 0, 0.8) 0%, rgba(20, 20, 20, 0.65) 100%);
        backdrop-filter: blur(1px);
    }
}