@font-face {
  font-family: "Neu-R";
  src: url(../fonts/NeueMontreal-Regular.otf);
}
@font-face {
  font-family: "Neu-M";
  src: url(../fonts/NeueMontreal-Medium.otf);
}
* {
  margin: 0;
  font-family: "Neu-R";
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: black;
}

p, a {
  font-size: 14px;
}

.animatedFadeUp {
  transform: translateY(100px);
  opacity: 0;
  transition: 500ms;
}

.animatedFadeUp.fadeUp {
  opacity: 1;
  transform: translateY(0);
}

.container_nav {
  height: 70px;
  padding: 2rem 0;
}
.container_nav .extend {
  width: 100%;
  position: fixed;
  z-index: 10;
}
.container_nav nav {
  background-color: rgba(232, 229, 228, 0.7);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  width: 300px;
  min-width: 300px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  border-radius: 100px;
}
.container_nav nav a {
  padding: 0.7rem 1rem;
  border-radius: 100px;
  flex-grow: 1;
  margin: 0.2rem;
  text-align: center;
  transition: 500ms;
}
.container_nav nav a.active {
  background-color: white;
}

.initial_title {
  padding: 3rem 2rem;
  min-height: 300px;
}
.initial_title h1 {
  font-size: 3.2rem;
  margin: 0 auto;
  text-align: center;
  max-width: 665px;
}
.initial_title h3 {
  display: inline-block;
  font-size: 14px;
  text-align: center;
  color: black;
  font-weight: lighter;
  border-radius: 50px;
  padding: 0.3rem 1rem;
}
.initial_title h3.bg_circ {
  background-color: rgba(232, 229, 228, 0.5019607843);
}
.initial_title .expertice {
  text-align: center;
  padding: 2rem 0;
}

.main_img_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem;
  max-width: 1400px;
  margin: 0 auto;
  gap: 1rem 0;
}
.main_img_container .content_img {
  position: relative;
  width: 49%;
  border-radius: 10px;
  overflow: hidden;
}
.main_img_container .content_img:hover img, .main_img_container .content_img:hover video {
  filter: blur(5px) brightness(0.7) contrast(1.2);
  opacity: 0.7;
}
.main_img_container .content_img:hover .img-title {
  opacity: 1;
}
.main_img_container .content_img:hover .card-arrow {
  opacity: 1;
  top: 20px;
  right: 20px;
}
.main_img_container .content_img .card-arrow {
  width: 20px;
  background-color: white;
  padding: 15px;
  position: absolute;
  right: 35px;
  top: 35px;
  opacity: 0;
  border-radius: 50%;
  z-index: 10;
  transition: 500ms;
}
.main_img_container .content_img .img-title {
  position: absolute;
  top: 20px;
  font-size: 1rem;
  opacity: 0;
  left: 25px;
  transition: 500ms;
  color: white;
  font-weight: lighter;
  z-index: 10;
}
.main_img_container .content_img img, .main_img_container .content_img video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 500ms;
}

footer {
  max-width: 1400px;
  margin: 0 auto;
}
footer .foot_txt_container {
  padding: 2rem 0 3rem;
}
footer .foot_txt_container h2 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
}
footer .foot_txt_container h2 span {
  color: #7e7e7e;
}
footer .copy_net {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}
footer .copy_net .nets {
  display: flex;
  gap: 1rem;
}

@media (min-width: 1250px) {
  .initial_title h1 {
    font-size: 72px;
  }
}
@media (max-width: 700px) {
  .initial_title {
    display: grid;
    place-content: center;
    min-height: 45vw;
    padding: 0 20px 32px;
  }
  .initial_title h1 {
    font-size: 2.3rem;
  }
  .initial_title .expertice {
    display: none;
  }
  .main_img_container {
    padding: 32px 20px;
  }
  .main_img_container .content_img {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
  }
  .main_img_container .content_img .card-arrow {
    display: none;
  }
  .main_img_container .content_img .img-title {
    color: black;
    position: initial;
    opacity: 1;
  }
  .main_img_container .content_img img, .main_img_container .content_img video {
    border-radius: 10px;
  }
  .main_img_container .content_img img:hover, .main_img_container .content_img video:hover {
    filter: none;
    opacity: 1;
  }
  footer .foot_txt_container {
    padding: 3rem 4rem;
  }
  footer .foot_txt_container h2 {
    font-size: 2rem;
  }
}/*# sourceMappingURL=OHSTUDIO.css.map */