@font-face {font-family: 'Neu-R';src: url(../fonts/NeueMontreal-Regular.otf);}
@font-face {font-family: 'Neu-M';src: url(../fonts/NeueMontreal-Medium.otf);}

$txt-grey: #7e7e7e;
$bgs-grey: #e8e5e480;

$regular-font: 'Neu-R';

*{
    margin: 0;
    font-family: $regular-font;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: black;
}
p,a{
    font-size: 14px;
}
.shop-btn{
    width: 100%;
    text-align: center;
    a{
        padding: 10px 20px;
        border-radius: 50px;
        position: fixed;
        bottom: 2rem;
        color: white;
        background-color: black;
    }
}

// FADE IN ANIMATION
.animatedFadeUp{
    transform: translateY(100px);
    opacity: 0;
    transition: 500ms;
}
.animatedFadeUp.fadeUp{
    opacity: 1;
    transform: translateY(0);
}
// FADE IN ANIMATION

.container_nav{
    height: 70px;
    padding: 2rem 0;

    .extend{
        width: 100%;
        position: fixed;
        z-index: 10;
    }
    
    nav{
        background-color: rgba($bgs-grey, $alpha: 0.7);
        backdrop-filter: blur(8px);
        width: fit-content;
        display: flex;
        width: 300px;
        min-width: 300px;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
        border-radius: 100px;

        a{
            padding: 0.7rem 1rem;
            border-radius: 100px;
            flex-grow: 1;
            margin: 0.2rem;
            text-align: center;
            transition: 500ms;
        }
        a.active{
            background-color: white;
        }
    }
}

.initial_title{
    padding: 3rem 2rem;
    min-height: 45vh;
    display: flex;
    align-items: center;
    justify-content: center;

    h1{
        font-size: 3.2rem;
        margin: 0 auto;
        text-align: center;
        max-width: 665px;
    }
    h3{
        display: inline-block;
        font-size: 14px;
        text-align: center;
        color: black;
        font-weight: lighter;
        border-radius: 50px;
        padding: 0.3rem 1rem;
    }
    h3.bg_circ{
        background-color: $bgs-grey;
    }

    .expertice{
        text-align: center;
        padding: 2rem 0;
    }
}

.main_img_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;
    max-width: 1400px;
    margin: 0 auto;
    gap: 1rem 0;

    .content_img{
        position: relative;
        width: 49%;
        border-radius: 10px;
        overflow: hidden;

        &:hover{
            img, video{
                filter: blur(5px) brightness(0.7) contrast(1.2);
                opacity: 0.7;
            }
            .img-title{
                opacity: 1;
            }
            .card-arrow{
                opacity: 1;
                top: 20px;
                right: 20px;
            }
        }

        .card-arrow{
            width: 20px;
            background-color: white;
            padding: 15px;
            position: absolute;
            right: 35px;
            top: 35px;
            opacity: 0;
            border-radius: 50%;
            z-index: 10;
            transition: 500ms;
        }

        .img-title{
            position: absolute;
            top: 20px;
            font-size: 1rem;
            opacity: 0;
            left: 25px;
            transition: 500ms;
            color: white;
            font-weight: lighter;
            z-index: 10;
        }

        img, video{
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: 500ms;
        }
    }
}

footer{
    max-width: 1400px;
    margin: 0 auto;

    .foot_txt_container{
        padding: 2rem 0 3rem;
        min-height: 45vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
    
        h2{
            font-size: 2.5rem;
            font-weight: bold;
            text-align: center;
            span{
                color: #7e7e7e;
            }
        }
    }
    
    .copy_net{
        display: flex;
        justify-content: space-between;
        padding: 2rem;

        .nets{
            display: flex;
            gap: 1rem;
        }
    }
}


@media (min-width: 1250px) {
    .initial_title{
        h1{
            font-size: 72px;
        }
    }
}
@media (max-width: 700px) {
    .initial_title{
        display: grid;
        place-content: center;
        padding: 0 20px 32px;

        h1{
            font-size: 2.3rem;
        }
        .expertice{
            display: none;
        }
    }

    .main_img_container{
        padding: 32px 20px;

        .content_img{
            width: 100%;
            height: fit-content;

            .card-arrow{
                display: none;
            }
            .img-title{
                color: black;
                position: initial;
                opacity: 1;
            }

            img, video{
                border-radius: 10px;

                &:hover{
                    filter: none;
                    opacity: 1;
                }
            }
        }
    }

    footer{
        .foot_txt_container{
            padding: 3rem 1rem;

            h2{
                font-size: 2rem;
            }
        }
    }
}