@import "tailwindcss";
@plugin "daisyui" {
  themes: false;
}

:root {
  --custom-bg-primary: #13141a;
  --custom-text-primary: #eef2f7;
  --custom-text-cian: #00ffff;
  --custom-text-desc: #fffa;
  --custom-text-dark: #111217;
  --custom-glass-border: #1f3347;
  --custom-glass-border-hover: #314e6a;
  --custom-glass-bg: #111217cc;
  --custom-light-bg: #272935;
  --custom-soft-bg: #0003;

  --custom-hero-gradient-bg: linear-gradient(135deg, #13141a, #25262e);
  --custom-cian-gradient-bg: linear-gradient(135deg, #00ffff, #4dffff);
  /* Colores Principales
  #1a1c24 (--card: 230 15% 12%) Fondo de tarjetas y elementos contenedores como las cards de contacto y proyectos.
  #4dffff (--primary-glow: 185 100% 70%) Variante brillante del cian, usado en efectos hover y estados activos.
  #25262e (--secondary: 230 15% 18%) Color secundario, usado en botones secundarios y elementos menos prominentes.
  #cc00ff (--accent: 280 100% 60%) Púrpura de acento, definido pero usado mínimamente en el diseño actual.
  #2a2b34 (--border: 230 15% 20%) Color de bordes, usado en inputs y separadores de elementos.

  Gradientes
  linear-gradient(135deg, rgba(31,33,40,0.1), rgba(31,33,40,0.05)) (--gradient-glass) Gradiente sutil para efectos glass, usado en elementos con transparencia. */
}
html {
  scroll-behavior: smooth;
}
.main-font {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
}
.bg-default {
  background: var(--custom-bg-primary);
  background-color: var(--custom-bg-primary);
}
.bg-light {
  background-color: var(--custom-light-bg);
}
.bg-soft {
  background-color: var(--custom-soft-bg);
}
.bg-glass {
  background-color: var(--custom-glass-bg);
  backdrop-filter: blur(12px);
}
.bg-cian-gradient {
  background: var(--custom-cian-gradient-bg);
}
.drop-light {
  filter: drop-shadow(1px 1px 4px #352e2e);
}
.text-black {
  color: var(--custom-text-dark);
}
.text-white {
  color: var(--custom-text-primary);
}
.text-desc {
  color: var(--custom-text-desc);
  font-weight: lighter;
}
.text-desc-regular {
  color: var(--custom-text-desc);
  font-weight: 400;
}
.text-cian {
  color: var(--custom-text-cian);
}
.glass-border-full {
  border: 1px solid var(--custom-glass-border);
}
.glass-border-b {
  border-bottom: 1px solid var(--custom-glass-border);
}
.glass-border-t {
  border-top: 1px solid var(--custom-glass-border);
}
.container-lg {
  max-width: 900px;
  margin: auto;
  padding: 4rem 1rem;
}
