@import "tailwindcss";
@plugin "daisyui" {
  themes: false;
}

:root {
  --custom-bg-primary: #111217;
  --custom-text-primary: #eef2f7;
  --custom-text-cian: #00ffff;
  --custom-text-desc: #fffa;
  --custom-text-dark: #111217;
  --custom-glass-border: #1f3347;
  --custom-glass-border-hover: #314e6a;
  --custom-glass-bg: #111217cc;
  --custom-light-bg: #272935;
  --custom-soft-bg: #0003;
  --custom-bg-blue: #0f2a32;
  --custom-bg-purple: #251934;
  --custom-text-purple: #d072ff;

  --custom-hero-gradient-bg: linear-gradient(135deg, #13141a, #25262e);
  --custom-cian-gradient-bg: linear-gradient(135deg, #00ffff, #4dffff);
  /* Colores Principales
  #1a1c24 (--card: 230 15% 12%) Fondo de tarjetas y elementos contenedores como las cards de contacto y proyectos.
  #4dffff (--primary-glow: 185 100% 70%) Variante brillante del cian, usado en efectos hover y estados activos.
  #25262e (--secondary: 230 15% 18%) Color secundario, usado en botones secundarios y elementos menos prominentes.
  #cc00ff (--accent: 280 100% 60%) Púrpura de acento, definido pero usado mínimamente en el diseño actual.
  */
}
html {
  scroll-behavior: smooth;
  overflow-y: scroll;
}
.main-font {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
}
.bg-default {
  background: var(--custom-bg-primary);
  background-color: var(--custom-bg-primary);
}
.bg-light {
  background-color: var(--custom-light-bg);
}
.bg-soft {
  background-color: var(--custom-soft-bg);
}
.bg-glass {
  background-color: var(--custom-glass-bg);
  backdrop-filter: blur(12px);
}
.bg-purple{
  background-color: var(--custom-bg-purple);
}
.bg-cian-gradient {
  background: var(--custom-cian-gradient-bg);
}
.bg-soft-blue {
  background-color: #15171d;
}
.bg-active-blue{
  background-color: var(--custom-bg-blue);
  color: var(--custom-text-cian);
}
.drop-light {
  filter: drop-shadow(1px 1px 4px #28b4b424);
}
.text-black {
  color: var(--custom-text-dark);
}
.text-purple {
  color: var(--custom-text-purple);
}
.text-white {
  color: var(--custom-text-primary);
}
.text-desc {
  color: var(--custom-text-desc);
  font-weight: lighter;
}
.text-desc-regular {
  color: var(--custom-text-desc);
  font-weight: 400;
}
.text-cian {
  color: var(--custom-text-cian);
}
.glass-border-full {
  border: 1px solid var(--custom-glass-border);
}
.glass-border-b {
  border-bottom: 1px solid var(--custom-glass-border);
}
.glass-border-t {
  border-top: 1px solid var(--custom-glass-border);
}
.border-purple{
  border: 0.5px solid #3c1b53;
}
.container-lg {
  max-width: 900px;
  margin-inline: auto;
}
.container-xl {
  max-width: 1250px;
  margin-inline: auto;
}
